.folder {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folderFailed {
    background: #f5222d;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folder:hover,
.folder-failed:hover {
    background: aliceblue;
}

.file {
    text-align: center;
    cursor: pointer;
}

.file:hover {
    background: aliceblue;
}